<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
</head>

<body>
	<h1 th:text="${titulo}"></h1>
		<ul>
			<li><a th:href="@{/variables/string/} + 'Hola Pepe'">/variables/string/hola Pepe</a></li>
			<li><a th:href="@{/variables/string/} + 'Que tal Jhon'">/variables/string/que tal Jhonn</a></li>
			<li><a th:href="@{/variables/string/} + 'saludos jose' + '/' + 7">/variables/string/saludos jose/7</a></li>

		</ul>
</body>

</html>